{% extends 'base.html' %}

<!-- Header -->
{% block description %}Join the Altruisme.dev community! Learn how you can contribute to our mission of providing free web development courses. Whether through content, feedback, or support, your contribution makes a difference.{% endblock %}
{% block keywords %}Join Altruisme.dev{% endblock %}
{% block title %}Join Altruisme.dev{% endblock %}

<!-- Body -->
{% block content %}
<div class="privacy">
    <section class="bg-gray-900">
      <div class="flex justify-center items-center py-8 px-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="max-w-screen-lg sm:text-lg text-gray-400">
              <h1 class="mb-4 text-4xl tracking-tight font-bold text-white">Contributing</h1>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">1. Introduction</h2>
              <p class="mb-4 font-light">We believe that sharing knowledge is essential to building a strong and supportive web development community. Our guides are completely free, and we encourage you to contribute to the growth of this resource in any way you can. Whether you’re a beginner or an expert, your input is valuable!</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">2. Suggest New Topics</h2>
              <p class="mb-4 font-light">If you have an idea for a new guide or a topic that you think would be valuable to our community, we’d love to hear from you! Whether it's a specific technology, framework, or a niche web development subject, your suggestions help us keep the content fresh and relevant.</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">3. Improve Existing Guides</h2>
              <p class="mb-4 font-light">If you notice that a guide could be improved or updated—whether it’s fixing a typo, adding missing information, or clarifying a section—feel free to let us know. We rely on feedback to make our guides as helpful and accurate as possible.</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">4. Contribute Code or Examples</h2>
              <p class="mb-4 font-light">Are you a developer who wants to contribute code examples or snippets to enhance our guides? Great! We encourage community members to submit code samples that demonstrate best practices or common techniques used in web development.</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">5. Translate Guides</h2>
              <p class="mb-4 font-light">We aim to make our resources accessible to a global audience. If you are fluent in a language other than English and would like to help translate our guides, please reach out! Your translations will help us reach even more learners around the world.</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">6. Join the Community</h2>
              <p class="mb-4 font-light">The more we share, the more we grow! Join our community and help others by answering questions, sharing resources, and discussing web development topics. You can connect with us and others through: <a href="" class="inline-flex items-center font-medium text-primary-500 hover:text-primary-700">Community</a></p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">7. Support Us</h2>
              <p class="mb-4 font-light">If you believe in what we’re doing and want to help sustain our efforts, you can support us through donations. Your generosity helps us cover the costs of maintaining and expanding the site, keeping the guides up-to-date, and reaching more learners worldwide. Please <a href="/contact" class="inline-flex items-center font-medium text-primary-500 hover:text-primary-700">contact us.</a></p>
            </div>
      </div>
    </section>
</div>
{% endblock %}