{% extends 'base.html' %}

<!-- Header -->
{% block description %}Explore Altruisme.dev's licensing information. Understand the terms and conditions for using our free web development courses and resources, and how we protect the content we provide.{% endblock %}
{% block keywords %}Altruisme.dev's licensing information{% endblock %}
{% block title %}Altruisme.dev's licensing information{% endblock %}

<!-- Body -->
{% block content %}
<div class="privacy">
    <section class="bg-gray-900">
      <div class="flex justify-center items-center py-8 px-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="max-w-screen-lg sm:text-lg text-gray-400">
              <h1 class="mb-4 text-4xl tracking-tight font-bold text-white">Licensing</h1>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">1. Introduction</h2>
              <p class="mb-4 font-light">The guides and resources provided on this site are available free of charge with the aim of sharing knowledge on web development. By accessing these guides, you agree to the following terms:</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">2. Copyright</h2>
              <p class="mb-4 font-light">All content, including text, images, illustrations, source code, and any other material on this site, is protected by copyright. The author of the guides retains intellectual property rights to these resources.</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">3. Personal use</h2>
              <p class="mb-4 font-light">You are permitted to view, read, and download the guides for personal use, learning, and self-development purposes. You may not resell, redistribute, or use the content for commercial purposes without prior permission.</p>
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">4. Reuse and Redistribution</h2>
                <p class="mb-4 font-light">Redistribution and reuse of the guides, whether in whole or in part, are only allowed under the following conditions:</p>
                  <ul class="mb-4">
                  <li>The guides must be distributed for free.</li>
                  <li>You may not modify the guides without our prior written consent.</li>
                  <li>Any redistribution must include this same license.</li>
                  </ul>
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">5. Modifications of the Guides</h2>
                <p class="mb-4 font-light">You may create derivative works or adaptations of the guides for your personal use, but no public or commercial publication of these adaptations is allowed without the author’s consent.</p>
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">6. Liability</h2>
                <p class="mb-4 font-light">Although the information in the guides is provided in good faith and regularly updated, we cannot be held liable for any damage, direct or indirect, arising from the use of these resources. The use of the guides is entirely at your own risk.</p>
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">7. Disclaimer of Warranty</h2>
                <p class="mb-4 font-light">The guides are provided "as is" and without any warranty, express or implied, including, but not limited to, implied warranties of merchantability or fitness for a particular purpose.</p>
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">8. License Modifications</h2>
                <p class="mb-4 font-light">The author reserves the right to modify this license at any time. Any changes will be posted on this page, and you will be notified of changes if you are subscribed to our mailing list or registered on our site.</p>
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">9. Contact Us</h2>
                <p class="mb-4 font-light">For any questions regarding this license or if you wish to obtain permission for specific uses, please <a href="/contact" class="inline-flex items-center font-medium text-primary-500 hover:text-primary-700">contact us.</a></p>
            </div>
      </div>
    </section>
</div>
{% endblock %}