{% extends 'base.html' %}

<!-- Header -->
{% block description %}Discover Altruisme.dev's HTML Elements tool. Explore a comprehensive list of HTML tags, their usage, and best practices to help you build structured and accessible web pages.{% endblock %}
{% block keywords %}HTML Elements{% endblock %}
{% block title %}HTML Elements : Complete list{% endblock %}

{% block content %}

<div class="bg-gray-900">
    <article class="bg-gray-900">
      <div class="flex justify-center items-center py-8 px-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="max-w-screen-lg sm:text-lg text-gray-400">
              <h1 class="mb-4 text-5xl tracking-tight font-bold text-white">HTML/CSS: Complete GUIDE</h1>
              <p class="mb-4 font-light">aaa</p>
              <nav class="mb-4">
                <ul>
                    <li class="font-light">- <a class="inline-flex items-center font-medium text-primary-500 hover:text-primary-700" href="#">Bikes</a></li>
                    <li class="font-light">- <a class="inline-flex items-center font-medium text-primary-500 hover:text-primary-700" href="#">BMX</a></li>
                </ul>
              </nav>
              <p class="mb-4 font-light">Dont forget: Join our web dev <a class="inline-flex items-center font-medium text-primary-500 hover:text-primary-700" href="#" >community—learn</a>, build, and grow together, all for free!</p>
              <h2 class="mb-8 mt-8 text-4xl tracking-tight font-bold text-white">Powering innovation at <span class="font-extrabold">200,000+</span> companies worldwide</h2>
              <h2 class="mb-8 mt-8 text-4xl tracking-tight font-bold text-white">Exemple de code HTML</h2>
              <pre><code>&lt;h1&gt;Hello World!&lt;/h1&gt;</code></pre>
              <h2 class="mb-8 mt-8 text-4xl tracking-tight font-bold text-white">Exemple de code CSS</h2>
              <pre><code>body {
background-color: lightgray;
font-family: Arial, sans-serif;
}</code></pre>
              <h2 class="mb-8 mt-8 text-4xl tracking-tight font-bold text-white">Exemple de code Python</h2>
              <pre><code class="mb-4 font-light">def hello(): 
print("Hello, World!") 
hello()</code></pre>

    <h2 class="mb-8 mt-8 text-4xl tracking-tight font-bold text-white">Exemple de commandes GitHub</h2>
    <pre><code>git init
git add .
git commit -m "Premier commit"
git branch -M main
git remote add origin https://github.com/utilisateur/mon-repo.git
git push -u origin main</code></pre>

              <p class="mb-4 font-light">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
              <p class="mb-4 font-light">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
              <p class="mb-4 font-light">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
              <p class="mb-4 font-light">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
              <p class="mb-4 font-light">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
              <p class="mb-4 font-medium">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease.</p>
              <a href="#" class="inline-flex items-center font-medium text-primary-500 hover:text-primary-700">
                  Learn more
                  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
          </div>
      </div>
    </article>
</div>

{% include 'components/cta.html' %}
{% include 'components/aside.html' %}
{% endblock %}
