<footer class="bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <p class="text-sm sm:text-center text-gray-400">© 2025 <a href="https://altruisme.dev/" class="hover:underline">💜 Altruisme</a>. All Rights Reserved.
      </p>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0">
        <li>
            <a href="/sitemap.xml" class="hover:underline me-4 md:me-6">Sitemap</a>
        </li>
        <li>
            <a href="/privacy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
            <a href="/licensing" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a href="/contributing" class="hover:underline">Contributing</a>
        </li>
    </ul>
    </div>
    <div class="w-full mx-auto max-w-screen-xl p-4">
        <p class="text-sm sm:text-center text-gray-400">🍪 We don't use cookies on our website and don't track personal data.</p>
      </div>
</footer>